.flex{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height:200px;
    text-align: center;
}
.fx{
    border-top:1px solid grey
}
.mat{
    width:300px;
    height:300px;
}
.tm{
    font-size: 40px;
}