<h1>Our Pricing</h1>
<div class="flexmain">

<card
title="Básico"
price='$19.99'
conteudo1="500 GB Storage"
conteudo2="2 Users Allowed"
conteudo3="Send up to 3 GB"
cor="black"
fundo="white"
(clicou)="openSnackBar1()">
</card>

<card
title="Profissional"
price='$25.99'
conteudo1="1TB Storage"
conteudo2="5 Users Allowed"
conteudo3="Send up to 10 GB"
tamanho="260px" 
cor="white"
fundo="blue"
(clicou)="openSnackBar2()">
</card>

<card
title="Mestre"
price="$39.99"
conteudo1="2 TB Storage"
conteudo2="10 Users Allowed"
conteudo3="Send up to 20GB"
cor="black"
fundo="white"
(clicou)="openSnackBar3()">
</card>
</div>
